doctype html
html(lang='en')
 head
  meta(charset='utf-8')
  title Charlotte
  link(rel='icon' href='images/charlotte.ico')
  link(href='layout/styles/layout1.css' rel='stylesheet' type='text/css')
  script(src='layout/scripts/jquery.min.js')
 //  Heading page
 include includes/heading-page.pug
 include includes/character.pug
 include includes/music.pug
 include includes/studios.pug
 include includes/news.pug
 include includes/onair.pug
 include includes/liveconcert.pug
 include includes/copyright.pug