@charset "utf-8";

html {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.capitalise {
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.nospace {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block {
  display: block;
}

.inline * {
  display: inline-block;
  &:last-child {
    margin-right: 0;
  }
}

.pushright li {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.borderedbox {
  border: 1px solid;
}

.overlay {
  position: relative;
  z-index: 1;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }
}

.bgded {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  border-radius: 50%;
  background-clip: padding-box;
}

.btn {
  display: inline-block;
  padding: 8px 18px 10px;
  text-transform: uppercase;
  border: 1px solid;
}

.icon.fa {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 58px;
  border: 1px solid;
  text-align: center;
  font-size: 24px;
}

.word-limit {
  height: 56px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.word-limit2 {
  height: 60px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.word-limit3 {
  height: 90px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.clear, .group {
  display: block;
}

.clear {
  &::before, &::after {
    display: table;
    content: "";
  }
}

.group {
  &::before, &::after {
    display: table;
    content: "";
  }
}

.clear, .group {
  clear: both;
  &::after {
    clear: both;
  }
}

a {
  outline: none;
  text-decoration: none;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

/* Fonts
--------------------------------------------------------------------------------------------------------------- */

body, input, textarea, select {
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Forms
--------------------------------------------------------------------------------------------------------------- */

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0;
  padding: 0;
  border: none;
  display: none;
}

label, input, textarea, select, button {
  display: block;
  resize: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
}

label {
  margin-bottom: 5px;
}

:required, :invalid {
  outline: none;
  box-shadow: none;
}

/* Generalise
--------------------------------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.heading {
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
  &.nospace {
    margin-bottom: 0;
  }
}

address {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: solid;
  border-width: 1px 0 0 0;
}

.font-xs {
  font-size: .8rem;
}

.font-x1 {
  font-size: 1.2rem;
}

.font-x2 {
  font-size: 1.8rem;
}

.font-x3 {
  font-size: 2.8rem;
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}

.hoc {
  display: block;
  margin: 0 auto;
  max-width: 978px;
}

/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */

address, article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
  margin: 0;
  padding: 0;
}

/* Grid
--------------------------------------------------------------------------------------------------------------- */

.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
  display: inline-block;
  float: left;
  margin: 0 0 0 3.06748466257669%;
  list-style: none;
}

.first {
  margin-left: 0;
  clear: left;
}

.one_quarter {
  width: 22.69938650306748%;
}

.one_third {
  width: 31.28834355828221%;
}

.one_half, .two_quarter {
  width: 48.46625766871166%;
}

.two_third {
  width: 65.6441717791411%;
}

.three_quarter {
  width: 74.23312883435584%;
}

.music {
  width: 100px;
  height: 100px;
}

.mainchar {
  height: 200px;
  max-width: 100%;
}

/* Spacing
-------------------------------------------------------------------------------------------------------------- */

.outspace-10 {
  margin-bottom: 10px;
}

.outspace-15 {
  margin-bottom: 15px;
}

.outspace-30 {
  margin-bottom: 30px;
}

.outspace-50 {
  margin-bottom: 50px;
}

.outspace-80 {
  margin-bottom: 80px;
}

.inspace-5 {
  padding: 5px;
}

.inspace-10 {
  padding: 10px;
}

.inspace-15 {
  padding: 15px;
}

.inspace-30 {
  padding: 30px;
}

.inspace-50 {
  padding: 50px;
}

.inspace-80 {
  padding: 80px;
}

.color--36D68C {
  color: #36D68C;
}