//  Start character
.wrapper.row3
 main.hoc.container.clear
  .center.outspace-80
   h6.heading#C0 Character
   p.heading.font-x3 Main character
   p The following are the characters that often appear
  ul.nospace.group.element.outspace-80
   li.one_quarter.first
    article
     img.mainchar(src="images/nao2.jpg", alt="char1")
     .txtwrap
      h6.heading Nao Tomori
      p.word-limit Nao is a first-year student at Hoshinoumi Academy and is also its student council president
      footer
       a(href="#") Read More
   li.one_quarter
    article
     img.mainchar(src="images/Yuu.jpg", alt="char2")
     .txtwrap
      h6.heading Yuu Otosaka
      p.word-limit Yuu is the protagonist of Charlotte. He develops a rude and narcissistic personality once
      footer
       a(href="#") Read More
   li.one_quarter
    article
     img.mainchar(src="images/Yusarin.jpg", alt="char3")
     .txtwrap
      h6.heading Yusa Kurobane
      p.word-limit Yusa, also known as "Yusarin", is a first-year student at Hoshinoumi Academy and is a member of its student council
      footer
       a(href="#") Read More
   li.one_quarter
    article
     img.mainchar(src="images/Joujirou Takajou.jpg", alt="char4")
     .txtwrap
      h6.heading Joujirou Takajou
      p.word-limit Joujirou is a first-year student at Hoshinoumi Academy and is a member of its student council
      footer
       a(href="#") Read More
  footer.center
   a.btn(href="#") More Character
  .clear
// End character