//  Start Music 
.bgded.overlay.down(style="background-image:url('images/wallpaper2.jpg')")
 section.hoc.container.clear
  .sectiontitle.center
   h6.heading#C1 Music
   p CHARLOTTE MUSIC SPECIAL
  .group.testimonials
   article.one_half.first
    img.music(src="images/music1.jpg", alt="music1")
    h6.heading Lia
    em Bravely You (Opening theme song)
    blockquote.word-limit3 Lia (born December 20) is a female Japanese singer-songwriter. Lia has performed various video game and anime theme songs, such as for Key's visual novels, Air, Clannad...
   article.one_half
    img.music(src="images/music2.jpg", alt="music2")
    h6.heading Tada Aoi
    em Yake ochinai tsubasa (Ending themesong)
    blockquote.word-limit3 Aoi Tada (born 3 July 1981 in Tokyo) is a Japanese singer and former voice actress. She formerly belonged to Gekidan Himawari. Her most noted voice role is that of Edward Wong Hau Pepelu Tivrusky IV in Cowboy Bebop. She also performed an insert song to the series, "Wo Qui Non Coin".
// End music 