// Start news 
.bgded.overlay(style="background-image:url('images/wallpaper1.jpg')")
 article.hoc.cta.clear
  .three_quarter.first
   h6.header.nospace#C3 NEWS
   p.outspace-10 Summarize breaking news
  div.opennew.first
   img.clearimg(src="images/wallpaper10.jpg", alt="News")
   p.word-limit3.clearp.non-height BD & DVD 7th edition full production limited edition bonus "Kana Sekiguchi draw down Digipack" released!
   p.word-limit3.clearp.hidden1 March 30, 2016 (Wednesday) release Charlotte BD & DVD full production limited edition bonus. Released “Kanai Sekiguchi Draws Degi Pack”!
  footer.footeralign
   a.btn(href="#") NEWS >>
// Ending News 