// Start on air 
.wrapper.row3
 .hoc.container.clear
  .sectiontitle.center
   h6.heading#C4 ON AIR
   p All trailers review for each episode
  ul.nospace.group.element
   li.one_third.first
    article
     figure
      img(src="images/ep1.png", alt="ep1")
      figcaption
       time
        strong 05
        em Jul
     .txtwrap
      h6.heading #1 - I Think About Other
      p.word-limit Yuu Otosaka finds he has the ability to possess anyone for five seconds. He uses it for personal gain, but an an intrepid girl with powers
   li.one_third
    article
     figure
      img(src="images/ep2.jpg", alt="ep2")
      figcaption
       time
        strong 12
        em Jul
     .txtwrap
      h6.heading #2 - Melody of Despair
      p.word-limit Yuu is thrown into a position on the student council and starts his job of teaming up alongside Nao to track down other kids with powers
   li.one_third
    article
     figure
      img(src="images/ep3.png", alt="ep3")
      figcaption
       time
        strong 19
        em Jul
     .txtwrap
      h6.heading #3 - Love and Flame
      p.word-limit Yuu and the team find themselves helping out a famous idol whose life is in danger after she finds out a troubling secret
  .clear
// End On Air      