// Start Studios
.row3
 section.hoc.container.clear
  .sectiontitle.center
   h6.heading#C2 Studios
   p All studios are in charge
  ul.nospace.group
    li.one_quarter.first
     article
      a(href="#")
       i.icon.outspace-30.fa.fa-bug
      h6.heading.font-x1 P.A. Works
      p.word-limit2 P.A. Works Corporation is a Japanese animation studio established on November 10, 2000 and is located in Nanto, Toyama, Japan
    li.one_quarter
     article
      a(href="#")
       i.icon.outspace-30.fa.fa-asterisk
      h6.heading.font-x1 KEY
      p.word-limit2 KEY is a Japanese visual novel studio which formed on July 21, 1998 as a brand under the publisher Visual Arts and is located in Kita, Osaka
    li.one_quarter
     article
      a(href="#")
       i.icon.outspace-30.fa.fa-bell
      h6.heading.font-x1 ANIPLEX
      p.word-limit2 ANIPLEX Inc. is a Japanese anime and music production company owned by Sony Music Entertainment Japan and established in September 1995
    li.one_quarter
     article
      a(href="#")
       i.icon.outspace-30.fa.fa-book
      h6.heading.font-x1 Dengeki G's Magazine
      p.word-limit2 Dengeki G's Magazine is a Japanese magazine published by ASCII Media Works and sold monthly on the thirtieth that primarily contains information
// End Studios 